.fullContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 3rem;
    margin: auto;
    background-color: rgb(10, 25, 47);
}

.footer {
    padding: 1rem;
    color: rgb(136, 146, 176);
    background-color: rgb(10, 25, 47);
    text-align: center;
}

.sideTextRight {
    display: inline-block;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
    align-items: center;
    text-decoration: none;
    margin: 20px auto;
    padding: 10px;
    color: rgb(100, 255, 218);
    position: fixed;
    right: 0.5%;
    bottom: 1%;
}

.sideTextRight:hover {
    color: black;
}

.sideTextLeft {
    display: inline-block;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
    align-items: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 0px;
    color: rgb(100, 255, 218);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: fixed;
    right: 96%;
    bottom: 1%;
}


.bi-social {
    fill: rgb(100, 255, 218);
    width: 30px;
    height: 30px;
    margin: 7px;
}