

.horizontalTextContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 3rem;
    margin-left: 5%;
    background-color: rgb(10, 25, 47);
    margin-top: 20%;
}

.fullContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 3rem;
    margin: auto;
    background-color: rgb(10, 25, 47);
}


.pages {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    color: rgb(204, 214, 246);
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    font-family: "SF Mono",
          "Fira Code",
          "Fira Mono",
          "Roboto Mono",
          "Lucida Console",
          Monaco,
          monospace;
}


.pages:hover {
    color: rgb(100, 255, 218);
}


.pages::after {
  content: "";
      display: block;
      height: 1.5px;
      width: 200px;
      background-color: rgb(48, 60, 85);
      position: relative;
      margin-top: -12px;
      margin-left: 120px;
}


.numbers {
    background-color: transparent;
    border: none;
    color: rgb(100, 255, 218);
    background-color: rgb(10, 25, 47);
    font-size: 22px;
    margin-left: 10%;
    cursor: pointer;
    font-family: "SF Mono",
        "Fira Code",
        "Fira Mono",
        "Roboto Mono",
        "Lucida Console",
        Monaco,
        monospace;
}


.textDarkGreySmall {
    display: flex;
    flex-direction: column;
    font-family: Calibre,
        "San Francisco",
        "SF Pro Text",
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        Roboto,
        "Helvetica Neue",
        "Segoe UI",
        Arial,
        sans-serif;
    width: 90%;
    border: 3rem;
    margin-left: 10%;
    margin-top: 1%;
    text-decoration: none;
    background-color: rgb(10, 25, 47);
    color: rgb(136, 146, 176);
    font-size: 20px;
}


.textDarkGreySmall a {
    display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        cursor: pointer;
        color: rgb(100, 255, 218);
}



.verticalTextContainer {
    display: flex;
        flex-direction: column;
        width: 50%;
        height: 40vh;
        border: 3rem;
        margin-left: 5%;
        background-color: rgb(10, 25, 47);
        text-decoration: none;
}

