
  .sideTextRight {
    display: inline-block;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    letter-spacing: 0.4rem;
    writing-mode: vertical-rl;
    align-items: center;
    text-decoration: none;
    padding-right: 30px;
    color: rgb(100, 255, 218);
    position: fixed;
    right: 0.5%;
    bottom: 0%;
    transition: all .4s ease-in-out;
    font-size: 11px;
  }

  .sideTextRight:hover {
    transform: translateY(-10px);
    transition: all .4s ease-in-out;
  }


.sideTextRight::after {
  content: "";
  display:inline-block;
  height: 200px;
  width: 1px;
  margin-top: 20px;
  background-color:rgb(204, 214, 246);
  position: relative;
}